.start {
    text-align: center;
    #start-game {
        padding: 10px 30px;
        background-color: blue;
        color: white;
        border: none;
        width: 200px;
        border-radius: 0;
    
    }
}


.container {
    position: relative;
    height: 456px;
    width: 456px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    .box {
        border: 1px black solid;
        height: 150px;
        width: 150px;
        .circle {
            width: 115px;
            height: 115px;
            margin: 17px auto;
            border: 2px solid gray;
            border-radius: 50%
            
        }
        .x {
            position: absolute;
            margin: 40px -30px;
            &:before,&:after{
                content:'';
                position:absolute;
                width: 150px;
                height: 2px;
                background-color: gray;
                border-radius: 1px;
                top: 36px;
            }
            
            &:before{
                -webkit-transform:rotate(45deg);
                -moz-transform:rotate(45deg);
                transform:rotate(45deg);
                left:30px;
            }
            &:after{
                -webkit-transform:rotate(-45deg);
                -moz-transform:rotate(-45deg);
                transform:rotate(-45deg);
                right:-180px;
            }
           
        }
        &.winner{
            background-color: lightgreen;
            .x:before, .x:after {
                background-color: darkgreen;
            }
            .o {
                border-color: darkgreen;;
            }
        }
    }
    
}


